# === Dependencies ===
/client/node_modules/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/node_modules/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/coverage/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/.nyc_output/
/client/build/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/build/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/dist/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/.development.env
