# === Dependencies ===
/client/node_modules/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/node_modules/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/coverage/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/.nyc_output/
/client/build/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/build/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/dist/
/Lab2/pzpi-22-7-kravtsov-yaromyr-lab2-code/.development.env 




/Lab3/pzpi-22-7-kravtsov-yaromyr-lab3-code/node_modules/
/Lab3/pzpi-22-7-kravtsov-yaromyr-lab3-code/coverage/
/Lab3/pzpi-22-7-kravtsov-yaromyr-lab3-code/.nyc_output/
/Lab3/pzpi-22-7-kravtsov-yaromyr-lab3-code/build/
/Lab3/pzpi-22-7-kravtsov-yaromyr-lab3-code/dist/
/Lab3/pzpi-22-7-kravtsov-yaromyr-lab3-code/.development.env 




# dependencies
/Lab4/pzpi-22-7-kravtsov-yaromyr-lab4-code/node_modules/

# Expo
.expo/
/Lab4/pzpi-22-7-kravtsov-yaromyr-lab4-code/node_modules/dist/
/Lab4/pzpi-22-7-kravtsov-yaromyr-lab4-code/node_modules/web-build/
/Lab4/pzpi-22-7-kravtsov-yaromyr-lab4-code/node_modules/expo-env.d.ts
